nav {
  background-color: #fff;
  border-bottom: 1.5px solid #e9ecee;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1.25rem 1.75rem;

  box-shadow: 0px 0px 22px -8px rgba(30, 44, 53, 0.125);
}

nav h1 {
  font-size: 1.65rem;
  font-weight: 500;
}

.btn-new {
  padding: .65rem 1rem;
  cursor: pointer;
  background-color: #4b6470;
  color: #fbfeff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

.btn-new:hover {
  background-color: #2c3d46;
}