:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ffffff20
}

.btn-new {
  padding: .5rem 1rem;
  cursor: pointer;
}

.application-table-row .status {
  padding: .5rem 0;
}

.application-table {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 1rem;
  padding: 1rem;
  border: 1px solid #3b3c3d;
  border-radius: 12px;
}

.application-table-row ul {
  display: grid;
  grid-template-columns: 
    16px 
    minmax(15ch, 20ch) 
    minmax(25ch, 35ch) 
    minmax(5ch, 15ch)
    1fr
    minmax(14ch, 14ch)
    38px;
  gap: 1rem;
  align-items: center;

  padding: .25rem;
  border-top: 1px solid #3b3c3d;
}

.application-table-row li:not(.status) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application-table-row select {
  border: none;
  background-color: #2e2f30;
  padding: .35rem .75rem;
  text-align: center;
  width: fit-content;
  border-radius: 6px;
  text-overflow: none;
  cursor: pointer;
}

.application-table-row select:hover {
  background-color: #404244;
}

.table-header {
  background-color: #2e2f30;
  border-radius: 8px 8px 0 0 ;
}

.status {
  padding: .4rem .75rem .5rem;
  margin: 0 .5rem;
  text-align: center;
}

.application-table-row button {
  padding: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  aspect-ratio: 1/1;
  padding: 0rem .5rem;
}

.application-table-row button:hover {
  background-color: #2e2f30;
}

.starred-on {
  color: #e7b50e
}

.starred-off {
  color: #515355
}










@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
