.new-application-form {
  position: relative;
  height: 100%;
  display: flex;  
  flex-direction: column;
  gap: 1rem;
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;

  padding: 1.5rem;
  background-color: #fff;;
  border: 1px solid #dde4ec;
  border-radius: 12px;

  box-shadow: 0px 0px 22px -8px rgba(30, 44, 53, 0.125);
}

.new-application-form .input-collection {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.new-application-form input, 
.new-application-form select,
.new-application-form textarea {
  padding: .6rem .75rem .7rem;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #adc3ce;
  color: #1d2a3b;
}

::placeholder {
  color: #a5b5c2;
}

textarea {
  resize: vertical;
  max-height: 32ch;
  min-height: 8ch;
}

.new-application-form button {
  width: fit-content;
  padding: .5rem 1rem;
}

.input-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starred-container {
  position: absolute;
  right: .75rem;
  top: .25rem;
}

.new-application-form input[type="checkbox"] {
  display: none;
}

#starred-label {
  color: #b6c9d8;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .125s;
}

#starred-label:hover {
  color: #67798f;
}

.new-application-form input[type="checkbox"]:checked + #starred-label {
  color: #eeb809;
}

.new-application-form input[type="checkbox"]:checked + #starred-label:hover {
  color: #cc8f0b;
}

.new-application-form button {
  color: #193953;
  background-color: #fff;
  border: 2px solid #193953;
  font-weight: 600;
  transition: .125s;
  cursor: pointer
}

.new-application-form button:hover {
  background-color: #193953;
  color: #fff;
}


.new-application-form .reset {
  padding-right: 0;
  border: none;
  font-weight: 500;
  font-size: .75rem;
  cursor: pointer;
  color: #8ea8c7;
  transition: .25s;
}

.new-application-form .reset:hover {
  font-weight:600;
  color: #52657c;
  background-color: transparent;
}